<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Welcome to the IPL notification service</h1>
    <h2>Get all the updates on the go !</h2>
    <div class="cred">
      <div class="cred-item">
        <img src="../../assets/login.png" />
        <span id="login">
          Already having an account: <a [routerLink]="['/login']">Login</a>
        </span>
      </div>
      <div class="cred-item">
        <img src="../../assets/signup.png" />
        <span id="signup">
          Create an account: <a [routerLink]="['/signup']">Signup</a>
        </span>
      </div>
    </div>
  </body>
</html>
